*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box; 
    padding:0;
    margin:0;
    
}

header{
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    font-family: 'Ubuntu', sans-serif;
    justify-content:space-around;
    padding: 18px;
    display: flex;
    
}

header li{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    margin: 37px;
}

header li:hover{
    color: #38d1c2;
}

header a{
    text-decoration: none;
    font-weight: bold;
}

.lista{
    cursor:pointer;
    display: flex;
}

.parte1{
    margin-left: 275px;
    padding-top: 70px;
    width: 450px      
}
.parte1 h1{
    color:#009688;
    font-size: 47px;
}

.parte1 div p{
    font-size: 20px;
}

.ilustrablog{
   position: absolute;
   width: 405px;
   height: 405px;
   left: 825px;
   top: 165px;
}

/* flex-wrap:wrap; chegar fim da linha e quebra*/

.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.flex div{
    margin: 80px;
}

.flex div h1{
    color: #FF4081;
}

.flex2{
    display: flex;
    justify-content: space-between;
}

.flex2 div{
    margin: 80px;
}

.flex2 div h1{
    color: #FF4081;
}

.flex3{
    display: flex;
    justify-content: space-between;
}

.flex3 div{
    margin: 80px;
}

.flex3 div h1{
    color: #FF4081;
}

footer{
    width: 100%;
    height: 160px;
    background-color: #2E948A;
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    justify-content: space-around; 
    padding: 30px;
   
}

footer li{ 
    color: white; 
    text-decoration: none;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: bold;
    margin: 10px;

}

footer li:hover {
    color: #38d1c2;
}

footer a{
    text-decoration: none;
}

.botao button{
    cursor: pointer;
    color: white;
    background-color:#2E948A;
    border: 2px solid white; 
    border-radius: 62px;
    padding: 8px;
    width: 230px;

    background: linear-gradient(to right, #FFFFFF 50%, #2E948A  50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
}

.botao button:hover {
    background-position: left bottom;
    color: #2E948A ;
}
    

